* {
    text-align: center;
}

.row {
    margin-top: -15px;
}

.row>div {
    margin-top: 15px;
}

.btn-light {
    margin-left: 30px;
    font-size: 12px;
}

#escala {
    font-size: 12px;
    color: grey;
    font-style: italic;
    margin-bottom: 0px;
}

i {
    margin-right: 10px;
    margin-left: 10px;
}

.check-element {
    font-size: 12px;
    color: grey;
    margin-left: 10px;
}