<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">CORREO USADO</th>
            <th scope="col">HOTEL</th>
            <th scope="col">LUGAR Y DIA</th>
            <th scope="col">FECHA PAGO LIMITE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">christianbali2019@gmail.com</th>
        </tr>
        <tr>
            <th scope="row">christianvazquez88@gmail.com</th>
        </tr>
        <tr>
            <th scope="row" style="">sandraveramendez90@gmail.com</th>
        </tr>
        <tr>
            <th scope="row">chrisjava2019@gmail.com</th>
        </tr>
        <tr>
            <th scope="row">chrisjava2019@gmx.com</th>
        </tr>
        <tr>
            <th scope="row">christianyogy89@gmail.com</th>
        </tr>
        <tr>
            <th scope="row">christianamed2019@gmail.com</th>
        </tr>
        <tr>
            <th scope="row">luciaislasgili@gmail.com</th>
        </tr>
        <tr>
            <th scope="row">sandrajava@gmx.com</th>
        </tr>
        <tr>
            <th scope="row">sandrakarimunjawa89@gmail.com</th>
        </tr>
        <tr>
            <th scope="row">javibali2019@gmx.com</th>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-primary btn-block" [routerLink]="['/home']">Volver atras</button>