<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">COMPAÑIA</th>
            <th scope="col">CUPON</th>
            <th scope="col">IMPORTE</th>
            <th scope="col">FECHA EXPIRACION</th>
            <th scope="col">CORREO ASOCIADO</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">RYANAIR</th>
            <th>274672465066100001</th>
            <th>24.99GBP</th>
            <th>25 Mayo 2021</th>
            <th>ch.ristianvaz.q.uez.89@gmail.com</th>
        </tr>
        <tr>
            <th scope="row">RYANAIR</th>
            <th>286302050847700001</th>
            <th>29.99€</th>
            <th>08 June 2021</th>
            <th>christianvazquez.88@gmail.com</th>
        </tr>
        <tr>
            <th scope="row">RYANAIR</th>
            <th>286958552573600001</th>
            <th>29.99€</th>
            <th>08 June 2021</th>
            <th>san.draveramendez90@gmail.com</th>
        </tr>
        <tr>
            <th scope="row">EASYJET</th>
            <th>CX12M26S contraseña: 12052020</th>
            <th>40€</th>
            <th>Junio 2021</th>
            <th>chris.t.i.anvazquez89@gmail.com</th>
        </tr>
    </tbody>
</table>